<!-- Validation failure messages -->
<% if @userbookmark.errors.any? %>
  <% @userbookmark.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Userbookmark</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_userbookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @userbookmark.user_id %>">
      </div>

      <!-- Label and input for bookmark_id -->
      <div class="form-group">
        <label for="bookmark_id" class="control-label">
          Bookmark
        </label>

        <input type="text" id="bookmark_id" name="bookmark_id" placeholder="Bookmark" class="form-control" value="<%= @userbookmark.bookmark_id %>">
      </div>

      <button class="btn btn-success">
        Create Userbookmark
      </button>
      or
      <a href="/userbookmarks">Cancel</a>
    </form>
  </div>
</div>
